.h-layout {
  .content-page {
    padding: 8rem 1.5rem 0 1.5rem;
    height: 100vh;
  }

  .w-header,
  .w-header-search {
    width: 100%;
  }

  .w-header-search {
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
  }
}
