.formkit-label-otp {
  @apply block mb-1.5 font-semibold text-sm formkit-invalid:text-red-500 dark:formkit-invalid:text-danger;
}

.formkit-inner-otp {
  @apply flex
    items-center
    justify-start
    align-middle
    rounded-md mb-1
    overflow-hidden;
}

.formkit-digit-otp {
  @apply w-9 h-9 mr-2
    text-center
    rounded-md
    border
    border-[rgb(var(--fk-border-color))]
    text-sm 
    bg-[rgb(var(--bg-2))]
    placeholder-secondary
    focus-within:border-primary
    focus:outline-none;
}

.formkit-message-otp {
  @apply formkit-invalid:text-red-500 dark:formkit-invalid:text-danger;
}
